name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: Medokaanoun@2002
          POSTGRES_DB: e-commerce-application

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: "17"

      - name: Build backend
        run: |
          cd backend
          mvn clean package -DskipTests

      - name: Build frontend
        run: |
          cd front-end
          npm install
          npm install @babel/plugin-proposal-private-property-in-object --save-dev
          chmod +x node_modules/.bin/react-scripts
          npm run build
      - name: Docker Compose up
        run: docker-compose up --build -d

      - name: Run tests
        run: |
          cd backend
          mvn test
